* {
    box-sizing: border-box;
}

header {
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
}

.cell {
    border: 1px solid #000;
}

.cell.hover {
    background-color: #ffff00;
}