* {
    box-sizing: border-box;
}

header {
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
}

.grid-container {
    display: grid;
    height: 500px;
    width: 500px;
}

.cell {
    border: 1px solid #000;
}

.cell.hover {
    background-color: rgb(4, 226, 34);
}